{
  "extends" : "airbnb",
  "rules": {
    "react/jsx-filename-extension": "off",
    "eol-last": "off",
    "no-trailing-spaces": "error",
    "comma-dangle": [
      "error",
      "never"
    ],
    "keyword-spacing": [
      "error",
      {
        "before": false,
        "after": false,
        "overrides": {
          "case": {
            "after": true
          },
          "catch": {
            "before": true
          },
          "const": {
            "after": true
          },
          "do": {
            "after": true
          },
          "else": {
            "before": true,
            "after": true
          },
          "export": {
            "after": true
          },
          "from": {
            "before": true,
            "after": true
          },
          "import": {
            "before": true,
            "after": true
          },
          "return": {
            "before": true,
            "after": true
          },
          "this": {
            "before": true
          },
          "try": {
            "after": true
          },
          "while": {
            "before": true
          }
        }
      }
    ]
  }
}